
/* General */

body{
    margin: 0px;
    height:400px;
    font-family: "Kedebideri", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Top-wrapper-content general styles */
.top-wrapper-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 30px 30px;
}

.banner-image > img {
    width: 150px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.explore-tiny-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: -70px;
    margin-top: 0px;
    margin-left: 20px;

}

.explore-tiny-heading > p {
    color: #F0E68C;
    text-decoration: none;
    padding: 1px 1px;
}

/* Navigation-wrapper-styles */
.navigation-wrapper{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px;
    margin-inline-end: auto;
    margin-bottom: -10px;
}


.navigation-wrapper > .nav-link a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

.navigation-wrapper > .spark-symbol a {
    text-decoration: none;
    color: #808080;
    font-weight: bolder;
}
/* Right-top-content-wrapper styles */

.right-top-content-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-inline-start: auto;
    margin-bottom: -10px;
}

.right-top-content-wrapper > .lens-icon i {
    color: #808080;
    font-size: 2em;
    text-align: center;
    padding: 10px 10px;
}

.right-top-content-wrapper > .false-button {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 4px;
    border-color: #696969;
    background-color: #696969;
    padding: 15px 15px;

}

/* Center-content-wrapper-styles */

.center-content-wrapper{
    background: #5E5E5F;
    background: linear-gradient(90deg, #5E5E5F, #0E0D0D);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 900px;
    
    }

/* center-right-content styles */

.center-content-wrapper > .right-side-content > .my-website-image > img {
    width: 450px;
    height: 100%;
    margin-right: 10px;
    margin-left: -80px;
    border-radius: 10px;
    box-shadow: -17px -24px 14px 13px rgba(14,13,13,0.53);
   } 

.center-content-wrapper > .right-side-content > .small-heading {
    display: flex;
    justify-content: left;
    margin-left: -80px;
   
}

.center-content-wrapper > .right-side-content > .small-heading > .phrase1 > p {
   color: white;
   text-orientation: sideways;
   line-height: 10px;
   font-size: 1em;
}


/* center-left-content styles*/


.center-content-wrapper > .left-side-content > .paragraphs{
    margin-left: 35px;
    padding: 20px 20px;
}

.center-content-wrapper > .left-side-content > .paragraphs > :nth-child(1){
    color: white;
    font-size: 2em;
}

.center-content-wrapper > .left-side-content > .paragraphs > :nth-child(2){
    color: #808080;
    font-size: 1.5em;
}

.center-content-wrapper > .left-side-content > .bottom-headings{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

}

.center-content-wrapper > .left-side-content > .bottom-headings > :nth-child(1){
    padding: 10px 10px;
    width: 250px;
    margin-left: 35px;
    text-align: center;
    background-color: #00FA9A;
    border-radius: 4px;
    font-size: 2em;
}

.center-content-wrapper > .left-side-content > .bottom-headings > :nth-child(2){
    padding: 10px 10px;
    width: 250px;
    margin-left: 35px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 2em;
}

/* bottom-content-styles */

.bottom-content-wrapper > .bottom-headings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    background-color: #5E5E5F;
}

.bottom-content-wrapper > .bottom-headings > h1{
    color: white;
    font-size: 1.25em;
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white;
    padding: 10px 10px;
    margin: 0px;

}

 /* footer-styles */
.footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height:350px;
}
    




















 
    
    

 

